// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.containerli{
	width:100%;
	height:auto;
}*/
/*.login{
	height:250px;
	width:50%;
	background-color: grey;
	opacity: .9;
	margin-top: -350px;
}*/
/*#liform{
	width: 400px;
	margin: 0 auto;
	margin-right: 50px;
	margin-top: 30px;
}*/
/*#about{
	width:100%;
	height: 300px;
}*/
/*#howitworks{
	width: 100%;
	height: 405px;
	background-color: grey;
}*/
